<div class="content">
	<h1>About US</h1>
	<p>We are trying to make LA a little bit better</p>

	<p>Donations to support the project are greatly appreciated!</p>
	<p>17cVwpPoqtBzVjFydzjPSobHJdcbEpwvPS</p>
</div>