<h1>How to get started</h1>

<h2>1. Get a wallet</h2>
<p>All you really need to start accepting bitcoin is to get a bitcoin wallet, which is as easy as getting a email account</p>
<h3>Watch this video and get your wallet in 5 mins</h3>

<iframe width="853" height="480" src="//www.youtube.com/embed/HLZNyQQ05vs" frameborder="0" allowfullscreen></iframe>