<div class="content">
	<h1>How to get started</h1>

	<h2>1. Get a wallet</h2>
	<p>All you really need to start accepting bitcoin is to get a bitcoin wallet, which is as easy as getting a email account</p>
	<h3>Watch this video and get your wallet in 5 mins</h3>

	<iframe width="800" height="450" src="//www.youtube.com/embed/HLZNyQQ05vs" frameborder="0" allowfullscreen></iframe>

	<h2>What is bitcoin</h2>
	<iframe width="800" height="450" src="//www.youtube.com/embed/Um63OQz3bjo" frameborder="0" allowfullscreen></iframe>
</div>


