<div class="content stats">
	<h1><span class="number_of_homeless">58,423</span> Homeless in the city we love</h1>
		<p>Can fill up more than 3 Staple Center</p>
	<h1>Only <span class="number_of_homeless">25%</span> of the them were sheltered</h1>
	<h1><span class="number_of_homeless">75%</span> still had no place to stay</h1>
	<h1><span class="number_of_homeless">13%</span> are family members including children</h1>
</div>