<div class="content">
	<p>
	Donation is something we can do anytime we want, but we usually won’t do it. Because it’s just not something we think and talk about most of the time. That’s why we believe innovation and creavity is as important for the charity organization as it’s for tech and entertainment industry. Charity organization needs viral content, good user experience or anything that startups are doing to create more conversation, more awareness and more action. 
	</p>

	<p>People don’t do things because it’s important. They do it when they think it’s important. </p>

	<h1>Why bitcoin?</h2>

	<h3>In order to create awareness we need a group of people that makes a lot noise and the bitcoin community is the perfect group for that.</h3>

	<h3>Bitcoin is bad for silk road, but it's good for skid row</h3>

	<h3>Bitcoin offers concrete advantages to fundraising for charities, like minimizing third party transaction fees from companies like PayPal.</h3>

	<h3>Inspiring Story</h3>
	<iframe width="800" height="450" src="//www.youtube.com/embed/ikAwmHieIps" frameborder="0" allowfullscreen></iframe>

	<h2>Conclusion</h2>
	<h3>
	We all have mixed feeling about bitcoin, but we can’t deny the amount of awareness it has created, whether bitcoin is the future or not this is a great opportunity for the charity organizations to join the conversation to make more good things happen. 
	</h3>


</div>








